# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Test & coverage
.coverage
htmlcov/

*.jpg
*.png
*.jpeg
*.webp
*.gif

#pyinstaller
build/
dist/
eye.spec
report.html